<!doctype html>
<html lang="en">
  <head>
	<title></title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="./stylesheets/style.css">
  </head>
  <body>
	<footer>		
		<div id="col-1">
			<div id="container-1">
				<h5> Sobre nós</h5>
				<div id="content-1">
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolorem vitae, minus aliquam illum similique, quia hic enim et commodi inventore cupiditate temporibus asperiores odit quos sapiente, cum nulla numquam quasi.</p>
				</div>
			</div>
		</div>
		<div id="col-2">
			<div id="container-2">
				<h5>Endereço</h5>
				<div id="content-2">
					<div class="place">
						<span class="text">Av.Brasil, Nova Capital</span>
					</div>
					<div class="phone">
						<span class="text">+55 61 9999-9999</span>
					</div>
					<div class="email">
						<span class="text">exemplo@exemplo.com</span>
					</div>
				</div>
			</div>
		</div>
		<div id="col-3">
			<div id="container-3">
				<h5>Contato</h5>
				<div id="content-3">
					<form action="#">
						<label for="exampleFormControlInput1" class="form-label">Email address</label>
						<input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
						<label for="exampleFormControlTextarea1" class="form-label">Example textarea</label>
						<textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
					</form>
				</div>
			</div>
		</div>
	</footer>
	<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>
	<script src="./javascripts/script.js"></script>
  </body>
</html>